*.bkp
*.elc
*.py[co]
*~
.DS_Store
/.emacs.desktop
/.ido.last
/.smex-items
/backups/
/el-get/
/elpa/
/swank/
/var/pcache/gh/gh-gist-api
abbrev_defs
ac-comphist.dat
ac-comphist.el
anything-c-adaptive-history
eshell/history
eshell/lastdir
places
session.*
tramp
url/cookies
/.emacs.desktop.lock
/persp-confs/
/projectile-bookmarks.eld
/request/curl-cookie-jar
